@charset "utf-8";
/* CSS Document */

#Wrapper{ width:100%; height:auto; float:left; }


/*Background Colors*/
.GreyBgColor{ background-color:#f0f0f0; }
.BluekBgColor{ background-color:#0083cc; }
.GreenBgColor{ background-color:#31ba2e !important; }


/*Text Colors*/
.WhiteTextColor{ color:#fff; }

/*Border*/
.BorderBox{ border:1px dashed #ccc; }

/*Font Size*/
.FontSize11{ font-size:11px;}
.FontSize12{ font-size:12px;}
.FontSize13{ font-size:13px;}
.FontSize14{ font-size:14px;}
.FontSize16{ font-size:16px;}
.FontSize18{ font-size:18px;}
.FontSize20{ font-size:20px;}
.FontSize22{ font-size:22px;}
.FontSize24{ font-size:24px;}
.FontSize28{ font-size:28px;}

.FontSize30{ font-size:30px;}
.FontSize32{ font-size:32px;}
.FontSize34{ font-size:34px;}
.FontSize38{ font-size:38px;}
.FontSize40{ font-size:40px;}

/*Margins*/
.m-t-5{ margin-top:5px; }
.m-t-10{ margin-top:10px; }
.m-t-15{ margin-top:15px; }
.m-t-20{ margin-top:20px; }
.m-t-25{ margin-top:25px; }
.m-t-30{ margin-top:30px; }
.m-t-35{ margin-top:35px; }
.m-t-40{ margin-top:40px; }
.m-t-45{ margin-top:45px; }
.m-t-50{ margin-top:50px; }

.m-b-5{ margin-bottom:5px; }
.m-b-10{ margin-bottom:10px; }
.m-b-15{ margin-bottom:15px; }
.m-b-20{ margin-bottom:20px; }
.m-b-25{ margin-bottom:25px; }
.m-b-30{ margin-bottom:30px; }
.m-b-35{ margin-bottom:35px; }
.m-b-40{ margin-bottom:40px; }
.m-b-45{ margin-bottom:45px; }
.m-b-50{ margin-bottom:50px; }

.m-r-10{ margin-right:10px !important; }
.m-l-10{ margin-left:10px !important; }



/*Paddings*/
.p-10{ padding:10px; }

.p-t-5{ padding-top:5px; }
.p-t-10{ padding-top:10px; }
.p-t-15{ padding-top:15px; }
.p-t-20{ padding-top:20px; }
.p-t-25{ padding-top:25px; }
.p-t-30{ padding-top:30px; }
.p-t-35{ padding-top:35px; }
.p-t-40{ padding-top:40px; }
.p-t-45{ padding-top:45px; }
.p-t-50{ padding-top:50px; }

.p-b-5{ padding-bottom:5px; }
.p-b-10{ padding-bottom:10px; }
.p-b-15{ padding-bottom:15px; }
.p-b-20{ padding-bottom:20px; }
.p-b-25{ padding-bottom:25px; }
.p-b-30{ padding-bottom:30px; }
.p-b-35{ padding-bottom:35px; }
.p-b-40{ padding-bottom:40px; }
.p-b-45{ padding-bottom:45px; }
.p-b-50{ padding-bottom:50px; }







